form >label{
    display:block;
   
}

form >input{
    display:block;
   
}
form{
    margin: 2.9em;
    display: grid;
}


label{
    font-weight: bold;
    color: #0D09BB;
}
.alert{
    color: red;
    font-weight: bold;
}
.inputStory{
    display: block;
}