form >label{
    display:block;
   
}

form >input{
    display:block;
   
}
form{
    margin: 2.9em;
    display: grid;
}

.validError{
    background-color:#0D09BB;;
    display:inline-block;
    color:white;
    margin: 0 0 1em 0;
    padding: 0.8em;
}

.addArticleButton [disabled]{
 background-color: #ddd; border-color: #ccc; 
}
.addArticleButton [disabled]:hover{
    cursor: not-allowed;
   }


label{
    font-weight: bold;
    color: #0D09BB;
}
.alert{
    color: red;
    font-weight: bold;
}
.inputStory{
    display: block;
}

.invalid{

  opacity:0.5;
}
