<h2>Skapa ett nytt inlägg</h2>

<form>
    <!-- Rubrik -->
    <label for="inputRubrik">Rubrik</label>
    <input type="text" placeholder="Minst 10 tecken" id="inputRubrik" (keyup)="onKeyUpTitle($event)">

    <!-- Namn -->
    <label for="inputName">Namn</label>
    <input type="text" placeholder="Ditt name" id="inputName" (keyup)="onKeyUpName($event)">
    
    <!-- Tid -->
    <label for="inputReadingTime">Ungefärlig lästid</label>
    <input type="text" placeholder="Skriver i minuter" id="inputReadingTime" (keyup)="onKeyUpReadingTime($event)">
    
    <!-- Textruta -->
    <label for="inputStory">Story</label>
    <textarea rows="20" placeholder="Tell us your story ;)" class="inputStory" (keyup)="onKeyUpStory($event)"></textarea>
</form>

<button (click)="addArticle()">Skapa</button>
