form >label{
    display:block;
   
}

form >input{
    display:block;
   
}
form{
    margin: 2.9em;
    display: grid;
}


<<<<<<< HEAD
    border-radius: 18px;
    background-color: #D68563;
}

.validError{
    background-color:rgb(148, 63, 63);
    display:inline-block;
    color:white;
}

.addArticleButton [disabled]{
 background-color: #ddd; border-color: #ccc; 
}
.addArticleButton [disabled]:hover{
    cursor: not-allowed;
   }


=======
label{
    font-weight: bold;
    color: #0D09BB;
}
.alert{
    color: red;
    font-weight: bold;
}
.inputStory{
    display: block;
}
>>>>>>> hanna
